{% load static %}
<footer id="footer" class="footer-area section-padding">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="footer-logo"><img src="{% static 'img/logo.png' %}" alt=""></h3>
              <div class="textwidget">
                <p>Tenha sempre dados atualizados sobre a sua companhia. Gráficos detalhados com informações cruciais para a gestão do seu empreendimento. O controle de tudo na palma da sua mão.</p>
              </div>
              <div class="social-icon">
                <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Produtoss</h3>
            <ul class="footer-link">
              <li><a href="#">Recursos</a></li>
              <li><a href="#">Aplicações</a></li>
              <li><a href="#">Planejamento</a></li>
              <li><a href="#">Empresas</a></li>           
              <li><a href="#">Gestão</a></li>           
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Recursos</h3>
            <ul class="footer-link">
              <li><a href="#">Opções de pagamento</a></li>
              <li><a href="#">Escalar sistema</a></li>
              <li><a href="#">Comece já</a></li>
              <li><a href="#">Verificação de identidade</a></li>
              <li><a href="#">Verificação de pagamento</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Contatos</h3>
            <ul class="address">
              <li>
                <a href="#"><i class="lni-map-marker"></i> Av. Orleans e Bragança, Nº 105 - <br> Edifício Arthur Ciro </a>
              </li>
              <li>
                <a href="#"><i class="lni-phone-handset"></i> Telefone: +55 91 98462-0592</a>
              </li>
              <li>
                <a href="#"><i class="lni-envelope"></i> E-mail: contact@fusion.com.br</a>
              </li>
            </ul>
          </div>
        </div>
      </div>  
    </div> 
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-content">
              <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </footer> 